*{
	/* margin: 0; */
	/* box-sizing: border-box; */
}
.container{
	max-width: 700px;
	margin: auto;
	height: 100vh;
	background: red;
	display: grid;
	align-content: start;
	grid-template-columns: repeat(auto-fit, minmax(min(10rem, 100%), 1fr));	
	gap: 10px;
}
.container .content{
	height: 3rem;
	background: green
}
/* .container2{ */
	/* max-width: 800px; */
	/* height: 50vh; */
	/* margin: auto; */
/* } */
/* .container2 div{ */
	/* margin-top: 10px; */
	/* background: green; */
	/* width: 150px; */
	/* height: 10rem; */
/* } */